// -------------------------------------------------------
// Copyright © Funky Squid Labs Ltd. All rights reserved.
// See COPYING.txt for license details.
// -------------------------------------------------------

//
//  Default styles.
//  _____________________________________________
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
  [data-content-type="funkysquid_imgtxtsortorder"] {
    .column-wrap {
      &.image-type-cover {
        .column-image {
          height: auto;
          overflow: hidden;
          img {
            display: block;
            width: 100%;
            height: 100% !important;
            max-height: 100%;
            object-fit: cover;
            object-position: center;
          }
        }
      }
    }
  }
}

//
//  1024px and above appearance styles.
//  _____________________________________________
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
  [data-content-type="funkysquid_imgtxtsortorder"] {
    .column-wrap {
      .column_content_wrapper {
        display: grid;
        grid-template-columns: 49% 49%;
        gap: 2%;
        align-items: stretch;
        [data-element="column_content"] {
            display: flex;
            padding: 0;
            flex-direction: column;
            justify-content: center;
        }
      }
      &.sort-order-2 {
        .column-image {
          display: flex;
          order: 2;
          align-items: center;
        }
      }
    }
  }
}
